# Boolean

In [18]:
bool(1)

True

In [2]:
bool(0)

False

In [3]:
not True

False

In [4]:
not False

True

In [5]:
not(bool(1))

False

In [9]:
not False*True

True

In [10]:
not True*False

True

In [11]:
not(True*False)

True

In [17]:
bool((not True)+(False*False))

False

# Python Conditions and If statements

### 1.if
### 2.if else
### 3.if elif else
### 4.Nested if
### 5.Single statement suite

In [29]:
# if statement

Day = "Monday is present"

if "Mon" in Day:
    print("Correct")

Correct

In [30]:
## Task
## Write a if statement for the following
## get age input from the user
## condition if sanju's age is >20 and <30 print he will be a data analyst

In [34]:
sanju_age = int(input('Enter your age: '))

if sanju_age >20 and sanju_age < 25:
    print("Sanju is data analyst")

Enter your age: 21
Sanju is data analyst

In [39]:
sanju_age = int(input('Enter your age: '))

if sanju_age >20 and sanju_age < 30:
    print("Sanju is data analyst")
else:
    print("Hard luck for Sanju")

Enter your age: 20
Hard luck for Sanju

### If elif and else

In [11]:
Course_price = int(input("Please enter the price: "))

if Course_price >2000:
    print(f"You can avail the python basic course at {Course_price*0.8}")
elif Course_price == 2500:
    print(f'You can avail the python advance course at {Course_price*0.9}')
else:
    print(f'Still you need {2000 - Course_price} to join this course')

Please enter the price: 2500
You can avail the python basic course at 2000.0

### Nested if

In [21]:
Course_price = int(input("Please enter the price: "))

if Course_price >2000:
    if Course_price == 2500:
        print("You have got additional notes for python")
    print(f"You can avail the python advance course at {Course_price*0.5}")
elif Course_price >=1500 and Course_price <= 2000:
    if Course_price == 2020:
        print("Congragulation you have got the Python\'s\' basic offer")
    print(f'You can avail the python intermediate course at {Course_price*0.7}')
elif Course_price >=1000 and Course_price<1500:
    print(f"You can avail the python basic course at {Course_price*0.9}")
else:
    print(f'Still you need {999 - Course_price} to join this course')

Please enter the price: 2000
You can avail the python intermediate course at 1400.0

### Single Statement Suite

In [1]:
Val = int(input("Please enter the value: "))

if (Val>= 200):print("Value is greater than 200")
else:
    print("No is less than 200")

Please enter the value: 201
Value is greater than 200

In [4]:
Val = int(input("Please enter the value: "))

print("A") if (Val>=200) else print("B")

Please enter the value: 100
B

### Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

While Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [8]:
i = 0

while i <6:
    print(i)
    i +=1

0
1
2
3
4
5

In [11]:
# While else condition

age = 0 


while age <= 18:
    print(age)
    age += 1
else:
    print("Now you are a man to vote")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
Now you are a man to vote

In [18]:
bike_speed = 0

while bike_speed<=200:
    print(bike_speed)
    bike_speed += 50
else:
    print("Please don't increase your speed")

0
50
100
150
200
Please don't increase your speed

For Loop - A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [23]:
cars = ["Audi","BMW","Aston Martin","Rolls Royce"]

for i in cars:
    print(i)

Audi
BMW
Aston Martin
Rolls Royce

In [24]:
# Here string is also iterable objects.

for i in "Banana":
    print(i)

B
a
n
a
n
a

In [31]:
# Range

for i in range(0,30,3):
    print(i)

0
3
6
9
12
15
18
21
24
27

In [26]:
# Using for loop with if condition

In [27]:
cars

['Audi', 'BMW', 'Aston Martin', 'Rolls Royce']

In [29]:
for i in cars:
    print(i)
    if i == "BMW":
        print("BWM is a costliest car among all")

Audi
BMW
BWM is a costliest car among all
Aston Martin
Rolls Royce

In [43]:
# Nested loop

for i in range(9):
    print(" "*(9-i),end="")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [63]:
# Break statement

i = 0 

while i<10:
    if i == 4:
        break
    print(i)
    i +=1

0
1
2
3

In [62]:
# Continue Statement
i = 0

while i<10:
    i+=1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10