# Strings

In [3]:
# Stings are the collection of characters surrounded by the quotes.

A= "Strings"

In [4]:
A

'Strings'

# Multiline Strings

In [5]:
# Assigning multiline codes with triple quotes.

In [8]:
a="""Sanju is ambitious in becomming data analyst,
in near future,
he will accomplish, 
all his dreams"""

In [9]:
a

'Sanju is ambitious in becomming data analyst,\nin near future,\nhe will accomplish, \nall his dreams'

In [10]:
A

'Strings'

In [11]:
A[1]

't'

# Looping Through a String

In [16]:
for i in "banana":
    print(i)

b
a
n
a
n
a

# String Length

In [17]:
a="Sanju"

In [19]:
print(len(a))

5

# Check String

In [21]:
Day = "Tuesday, Thursday,Friday"

In [25]:
# check condition we use keyword in

print("Tuesday" in Day)

print('Monday' in Day)

True
False

In [33]:
# using str in if statement 

if "Tuesday" in Day:
    print("Yes, Tuesday is present in Day")
else:
    print("thanks")

Yes, Tuesday is present in Day

# Check if NOT

In [34]:
Day

'Tuesday, Thursday,Friday'

In [35]:
# not in keyword is used

print("Sanju" not in Day)

True

In [38]:
print("Fri" not in Day)

False

In [41]:
# Using if not condition

if "Tuesday" not in Day:
    print("Welcome home")
else:
    print("Go back")

Go back

# Slicing

In [42]:
# Slicing is done to return the range of characters. It has a start index and end index seperated by colon.

In [46]:
A = "Python is a High level programming language"

print(A[0:6])

Python

In [48]:
print(A[12:34:1])

High level programming

In [69]:
# Negative Indexing

print(A[-44:-37])

Python

# In built functions in Strings

In [83]:
str1 = "Data science and Machine Learning \n and deep learning"

###  1. upper Case

In [85]:
# upper Case

print(str1.upper())

DATA SCIENCE AND MACHINE LEARNING
 AND DEEP LEARNING

### 2. Lower case

In [86]:
# Lower case

print(str1.lower())

data science and machine learning
 and deep learning

### 3. Remove Whitespace

In [97]:
# Remove whitespace. an inbuild function .strip() removes the whitespace at the beginning and end of the code.

A = " Hello!, World "

print(A.strip())

Hello!, World

### 4.Replace String

In [98]:
# Replace string - .replace() it replaces the string with another string.

print(A.replace("H","P"))

 Pello!, World

### 5.Split String

In [101]:
# Split String - this function returns a list where the text being specified by list items

# The split() method splits the string into substrings if it finds instances of the separator:

print(A.split(","))

[' Hello!', ' World ']

### 6. Capitalize

In [144]:
A = "HELLO WORLD"

In [145]:
# .capitalize() converts the first character to upper case

print(A.capitalize())

Hello world

### 7. Casefold

In [146]:
# .casefold() converts srting into lower case

print(A.casefold())

hello world

### 8.Swapcase

In [149]:
A = "Hello World"

In [151]:
# .swapcase() It swaps the lower case to upper case and upper case to lower case.

print(A.swapcase())

hELLO wORLD

### 9.Title

In [153]:
Car = "Audi is a class carr"

In [158]:
# .title() Converts the first character of each word in upper case.

print(Car.title())

Audi Is A Class Carr

### 10. Count

In [161]:
# .count()

print(Car.count(""))

21

# String Concatenation

In [103]:
# To concatenate or combine the strings using + operator.

A = "Hello"

B = "World"

print(A + " "+B)

Hello World

# String Format

In [104]:
# We can combine both stings and numbers so we use string format.

# 1. .format()
# 2. f String

In [108]:
# using .format()

print("Sanju is a {0} at the age of {1}".format("Data analyst",19))

Sanju is a Data analyst at the age of 19

In [110]:
print("Sanju is a {first} at the age of {second}".format(first="Data analyst", second=19))

Sanju is a Data analyst at the age of 19

In [115]:
# using f string.

role = "Data analyst"
age = 19

print(f"Sanju is a {role} at the age of {age}")

Sanju is a Data analyst at the age of 19

# Escape Character

In [123]:
# \"  \"

print("We are the so-called \"Vikings\" from the north.")

We are the so-called "Vikings" from the north.

In [122]:
# \\ Backslash - It inserts one slash.

print("We are the so-called \\Vikings from the north.")

We are the so-called \Vikings from the north.

In [125]:
# \n - It prints the new line 

print("We are the so-called \n Vikings from the north")

We are the so-called
 Vikings from the north

In [127]:
# \r - Carriage return, it returns only character after the \r 

print("We are the so-called \r vikings from the north")

 vikings from the north

In [128]:
# \t - Tab - it is used for space between the string characters.

print("We are the so-called \t vikings from the north")

We are the so-called 	 vikings from the north

In [131]:
# \b Backspace

print("We are the so-called \bvikings from the north")

We are the so-called vikings from the north

In [168]:
num1 = 23

num2 = 44

In [169]:
num2 = 2+3j

In [170]:
num1=num2.imag

In [171]:
num1

3.0

In [172]:
num2-num1

(-1+3j)

In [179]:
'pwskills'.upper().lower().isalnum()

True

In [182]:
‘pwskills’.upper().lower().isalnum()

SyntaxError: invalid character '‘' (U+2018) (3643665153.py, line 1)