In [1]:
lst=[]

In [2]:
type(lst)

list

In [ ]:
lst()

In [ ]:
# Create a sample list

In [5]:
lst1=["Sanju", "is", "an", "data", "analyst" "in", 25]

In [6]:
lst1

['Sanju', 'is', 'an', 'data', 'analystin', 25]

In [7]:
str2 = "datascience"

In [9]:
list(str2)

['d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [10]:
str1 ="Data analyst is toughest job"

In [16]:
list(str1.split(" "))

['Data', 'analyst', 'is', 'toughest', 'job']

In [20]:
lst3=(str1.split(" ")) # Inplace operator

In [21]:
lst3 # Inplace operator is nothing but it is updated the list.

['Data', 'analyst', 'is', 'toughest', 'job']

In [22]:
# list length

lst1

['Sanju', 'is', 'an', 'data', 'analystin', 25]

In [23]:
print(len(lst1))

6

In [24]:
lst1[1:]

['is', 'an', 'data', 'analystin', 25]

In [25]:
lst1[3]="analyst"

In [26]:
lst1

['Sanju', 'is', 'an', 'analyst', 'analystin', 25]

In [27]:
lst1.pop(4)

'analystin'

In [28]:
lst1

['Sanju', 'is', 'an', 'analyst', 25]

In [29]:
## list concatenation operation

In [38]:
lst1 + ["Wow!","Great"]

['Sanju', 'is', 'an', 'analyst', 25, 'Wow!', 'Great']

In [41]:
lst2 =lst1+[["Wow!","Great"]]

In [42]:
lst2

['Sanju', 'is', 'an', 'analyst', 25, ['Wow!', 'Great']]

In [44]:
# In nested list we can slice by the follwing method

lst2[-1][0]

'Wow!'

In [45]:
lst2*2

['Sanju',
 'is',
 'an',
 'analyst',
 25,
 ['Wow!', 'Great'],
 'Sanju',
 'is',
 'an',
 'analyst',
 25,
 ['Wow!', 'Great']]

In [48]:
## List constructor

new_list = list(("Orange","Blue","Green","Red"))

In [49]:
new_list

['Orange', 'Blue', 'Green', 'Red']

In [50]:
lst1 = ["Pw", "Skills","Datas","Science","Masters"]

In [55]:
if "Science" in lst1:
    print(True)
else:
    print(False)

True

In [56]:
for i in lst1:
    if i == "Science":
        print(i)
        break

Science

In [57]:
lst1=["Zebra","Monkey","Donkey","Lion"]
lst2=[5,6,2,9,5,8,6]

In [58]:
print(max(lst1))

Zebra

In [59]:
min(lst1)

'Donkey'

In [60]:
max(lst2)

9

In [61]:
min(lst2)

2

In [112]:
## built in functions in list

## to insert a new element in the list

lst1=["Zebra","Monkey","Donkey","Lion"]

lst1.insert(2,'Giraffe')# inplace operator

In [113]:
lst1

['Zebra', 'Monkey', 'Giraffe', 'Donkey', 'Lion']

In [114]:
## to add an item to the end of the list

In [115]:
lst1.append('cheetah')

In [116]:
lst1

['Zebra', 'Monkey', 'Giraffe', 'Donkey', 'Lion', 'cheetah']

In [117]:
lst1.append(["tiger","elephant","fox"])

In [118]:
lst1

['Zebra',
 'Monkey',
 'Giraffe',
 'Donkey',
 'Lion',
 'cheetah',
 ['tiger', 'elephant', 'fox']]

In [119]:
## to add an entire list to another list 
# .extend is used

In [120]:
lst2 =["Horse"]

lst1.extend(lst2)

In [121]:
lst1

['Zebra',
 'Monkey',
 'Giraffe',
 'Donkey',
 'Lion',
 'cheetah',
 ['tiger', 'elephant', 'fox'],
 'Horse']

In [ ]:
## remove list items- it will remove the specific item in the list

In [125]:
lst1.remove(["tiger","elephant","fox"])

In [126]:
lst1

['Zebra', 'Monkey', 'Giraffe', 'Donkey', 'Lion', 'cheetah', 'Horse']

In [130]:
lst1.remove("Monkey")

In [131]:
lst1

['Zebra', 'Giraffe', 'Donkey', 'Lion', 'cheetah', 'Horse']

In [ ]:
## remove the specified index

In [132]:
lst1.pop() #if the index is not mentioned then it removes the last item in the list

'Horse'

In [133]:
lst1

['Zebra', 'Giraffe', 'Donkey', 'Lion', 'cheetah']

In [134]:
## if i want to remove lion from the list we have to specify the index position to the pop function 

lst1.pop(3)

'Lion'

In [135]:
lst1

['Zebra', 'Giraffe', 'Donkey', 'cheetah']

In [10]:
lst1 = ['Zebra', 'Giraffe', 'Donkey', 'cheetah']

In [11]:
del lst1[0]

In [12]:
lst1

['Giraffe', 'Donkey', 'cheetah']

In [13]:
lst2 = ["Zebra","Monkey","Donkey","Lion"]

In [14]:
lst2.clear()

In [15]:
lst2

[]

In [ ]:
### Loop Through a List

In [11]:
thelst = ["Apple","Banana","Cherry"]

In [12]:
for i in thelst:
    print(i)

Apple
Banana
Cherry

In [13]:
### Loop Through the Index Numbers

In [15]:
for i in range(len(thelst)):
               print(thelst[i])

Apple
Banana
Cherry

In [16]:
### Using a While Loop

In [17]:
thelst

['Apple', 'Banana', 'Cherry']

In [19]:
i = 0

while i <len(thelst):
    print(thelst[i])
    i+=1

Apple
Banana
Cherry

In [ ]:
## List comprehension

In [3]:
lst= ["apple", "Banana", "Orange", "Red", "Blue"]

In [4]:
[i for i in lst]

['apple', 'Banana', 'Orange', 'Red', 'Blue']

In [6]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
[i if i %2 ==0 else "odd" for i in range(20)]

[0,
 'odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd']

In [13]:
## Assignment 
## Sum of even numbers and odd numbers
lst=[1,2,3,4,5,6,7,8]

In [15]:
## Normal code

sum_even = 0

sum_odd = 0

for i in lst:
    if i%2==0:
        sum_even +=i
    else:
        sum_odd+=i

print(sum_even)
print(sum_odd)

20
16

In [16]:
## by list comprehension

In [18]:
sum_even =sum([i for i in lst if i%2==0])
sum_odd = sum([i for i in lst if i%2!=0])

In [20]:
sum_even

20

In [21]:
sum_odd

16

In [24]:
# find the square root of the numbers

lst =[1,2,3,4,5,6,7,8,9,10]

[i**2 for i in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# Example 2: Create a list of only the positive numbers from a given list
numbers = [-2, -1, 0, 1, 2, 3, 4]

[i for i in numbers if i >0]

[1, 2, 3, 4]

In [33]:
# Example 3: Create a list of only the first letters of words in a list
words = ['apple', 'banana', 'cherry', 'date']

[i[0] for i in words]

['a', 'b', 'c', 'd']

In [36]:
# Example 4: Convert a list of temperatures from Celsius to Fahrenheit uing list comprehesnion
celsius_temperatures = [0, 10, 20, 30, 40, 50] # (9/5)*temp+32 formula

[(9/5)*i+32 for i in celsius_temperatures]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [41]:
# Example 5: Flatten a list of lists into a single list
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

In [44]:
[k for i in lists for j in i for k in j]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
## Sort List

In [48]:
lst1 = ["Blue","Yellow","Red","Orange"]

lst1.sort()

In [49]:
lst1

['Blue', 'Orange', 'Red', 'Yellow']

In [50]:
lst2 = [100,50,20,10,13,22,60]

In [51]:
lst2.sort()

In [52]:
lst2

[10, 13, 20, 22, 50, 60, 100]

In [53]:
lst2.sort(reverse=True)

In [54]:
lst2

[100, 60, 50, 22, 20, 13, 10]

In [55]:
lst1.sort(reverse=True)

In [56]:
lst1

['Yellow', 'Red', 'Orange', 'Blue']

In [57]:
## Case Insensitive Sort
## By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [58]:
lst1 = ["aeroplane","Helicopter","bullet","Beast"]

lst1.sort()

In [59]:
lst1

['Beast', 'Helicopter', 'aeroplane', 'bullet']

In [60]:
## use built-in functions as key functions when sorting case-insensitive list

In [68]:
lst1.sort(key=str.lower)

In [69]:
lst1

['aeroplane', 'Beast', 'bullet', 'Helicopter']

In [70]:
## Reversing

In [71]:
new_list=['q','e','f','s','t','u']
new_list

['q', 'e', 'f', 's', 't', 'u']

In [72]:
new_list[::-1]

['u', 't', 's', 'f', 'e', 'q']

In [73]:
## inplace operator- reverse()

new_list.reverse()

In [74]:
new_list

['u', 't', 's', 'f', 'e', 'q']