## Python ?

 * Python is object oriented programming and a high level language used to create web applications development, Machine learning, data analysis etc.

# 1.1 Introduction to Python

## Why Python ?

 * Python has the simple syntax and easy to learn.
 * It allows the programmer to write programms in fewer lines of code.
 * Python runs on the interpreter system, that means that code can be executed as soon as the code is written, it means that        Prototyping is very quick.

## Python Syntax:

 * Python syntax can be written directly in the command line

In [3]:
print("Hello! World")

Hello! World

## Python Indentation:

* Indentation refers to the space at the beginning of the code line
* It uses the Indentation to indicate the block of code.

In [4]:
if 5>0:
    print(5)

5

# 1.2 Variables:

* Variable are created when we assign a value to it.
* In simple way it is a memory where values are stored.
* Python doesn't have a command for declaring a variable.

In [7]:
a="Sanju"
b=45

+ In the above example 'sanju' is assigned to a variable 'a' and 45 respectively to 'b'

## Rules of Declaring a variable:

#### There are some important rules while declaring a variable

> * variable name should not begin with the number
> * They should not have a gaps while decalring a variable
> * Variables are case sensitive, meaning Name and name are considered two different variable.

In [9]:
# 3a = "Sanju" # This not the proper way

# Id no = 45   # This is not a proper way

# Instead we can use like this 

a3 = "Sanju"  # proper way

Id_no=45     # proper way

## Comments in Python:

> * Is comments is important in Python ? Yes it is.
> * Python has this feature of commenting the in-code documentation.
> * It helps to understand the Python code.
> * Comments starts with #, as python is interpreted language once the # is type it understands that user is providing some         comments not the code to execute.
> * Comments does not have to be text that explains code, but also to prevent the code not to be execute.

In [10]:
# Hey print the coffee

print("coffee")

coffee

### Multilines of code

In [13]:
# This is to explain
# we can use multiple
# line of comments

"""Please follow the instruction of python
understand the basics 
you will be a pro one day"""

print("Hello")

Hello

## Type Casting:

> * It is a convertion of one date type into a another datatype.
> * For Eg: If a=45, it basically a integer stored in a variable but by using type casting we can change the "a" as any data type.

In [16]:
a=int(45)

type(a)

int

In [27]:
a = str("45")
type(a)

str

In [28]:
a=float(45)
type(a)

float

## Type Function:

* You can get the data type of a variable with the type() function.

In [32]:
x = 5
y = "Sanju"
z = 45.9
a = True
b = 2+3j

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## Why variable are Case sensitive ?

 As we discussed earlier will explain you with an example
 
 Below example shows that python understands that both are not the same, they are considered to be a different variable.

In [33]:
Name = "Sanju"
name = 4

In [34]:
print(Name)
print(name)

Sanju
4

## Multiple variable :

Python allows to assign multiple values in one line:

In [35]:
x,y,z ="Apple","orange","Banana"

print(x)
print(y)
print(z)

Apple
orange
Banana

We can also assign the same value to mutiple variable

In [36]:
x=y=z='Banana'

print(x)
print(y)
print(z)

Banana
Banana
Banana

## Print Function :

The Python `print()` function is often used to output variables.

In [37]:
a = 12
print(a)

B = "Sanju is analyst"
print(B)

12
Sanju is analyst

## Functionalities of Print functions:

 * `\n` - it is used for printing in a new line
 
 * `sep`- it is used to seperate the two output

In [38]:
print("Hello! \n World")

x = "Apple"
y = "orange"
z = "Banana"

print(x,y,z)

Hello!
 World
Apple orange Banana

### Variable concatenation:

* We can use the operator `+` to concatenate the multiple variable 
* We cannot concatenate both strings and interger or float.
* For numbers, the `+` character works as a mathematical operator
* In the `print()` function, when you try to combine a string and a number with the `+` operator, Python will give you an error
* So the best way to output the variable with different datatype in `print()` function is to use comma.

In [42]:
x = "Apple"
y = "Orange"
z = "Banana"

print(x + y + z)

AppleOrangeBanana

In [43]:
x = 58

y = 4

print(x+y)

62

In [44]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

* But it can be done by typecasting

In [49]:
x = 5
y = "John"
print(str(x) + y)

5John

In [46]:
x = 5
y = "John"

print(x,y)

5 John

##  Data Types

* Data type is a classification of data in which the type of value they hold.

* Built-in datatypes

> * Text type : str

> * Numeric Types:	int, float, complex

> * Sequence Types:	list, tuple, range

> * Mapping Type:	dict

> * Set Types:	set, frozenset

> * Boolean Type:	bool

> * Binary Types:	bytes, bytearray, memoryview

> * None Type:	NoneType

> 1. string - It is a sequence of characters ("Hello! Sanju")



> 2. Integers - A whole number



> 3. Float - A number with a decimal point



> 4. Boolean - A datatype that has only two value `True` or `False`



> 5. Complex - Which will be in a format of a+bj



> 6. List - An ordered collection of values



> 7. Tuple - An ordered, immutable collection of values



> 8. Dictionary - An unordered collection of Key and value pairs



> 9. Set - An unordered collection of values.

# 1.3 String Data type

 * A string is sequence of characters which is surrounded by either single quote or double quote
 * Strings are immutable, means that we cannot change or modify the values inside the string.

In [50]:
print("Hello")

Hello

In [53]:
## We get error if we try to change the characters or elements inside the string.

a = "Sanju"
a[0] = "D"

TypeError: 'str' object does not support item assignment

### Looping through string

* We can loop through the characters in string with `for` loop

In [55]:
Fruit = "Orange"

for i in Fruit:
    print(i)

O
r
a
n
g
e

### String Length

* To find out the length of the `str` we can use in-built function `len()`

In [58]:
Fruit = "Orange"

print(len(Fruit))

6

### Check string

* To check whether the certain character is present in the string by using a keyword `in`

In [60]:
Day = 'Monday is a weekday'

print("Monday" in Day)

True

By using `if` statement

In [65]:
Day = 'Tuesday'

if "Tuesday" in Day:
    print(True)

True

* To check whether the certain character is not present in string by using a keyword `not in`

In [66]:
Day  = "Monday is a weekday"

print("Tuesday" not in Day)

True

By using `if` statement

In [67]:
Day  = "Monday is a weekday"

if "tuesday" not in Day:
    print("Monday is a weekday")

Monday is a weekday

### Slicing

* Slicing is a method used to retrive or return the elements or the characters by using slice syntax
* It has a start stop and step values, it is specified by using colon in between
* Importantly slicing is done by using `[]` square brackets only.

In [69]:
Day

'Monday is a weekday'

In [70]:
## I want day is weekday.

Day[3::1]

'day is a weekday'

In [75]:
## I want the reverse of this

Day[::-1]

'yadkeew a si yadnoM'

In [87]:
Day[-19::]

'Monday is a weekday'

### String Concatenation:

 * It is a method to combine or concatenate the two string by using `+` operator

In [89]:
print("Sanju"+" Nandhu")

Sanju Nandhu

In [90]:
a= "Sanju"
b = 'Nandhu'

print(a + " " + b)

Sanju Nandhu

* But remember one thing we cannot concatenate string with integer it will give error
* Because it can only concatenate with strings

In [91]:
print("Sanju" + 19)

TypeError: can only concatenate str (not "int") to str

* Point to be remembered: We know that we can't concatenate str with int but there is an another way to include in the string by using format string.

### Format strings

 * Format strings passes the arguments, format them and places them in the string where the place holders are specified

* By using `.format`

In [92]:
## print - Sanju will be dataanalyst at age of 30

age = 30

print("Sanju is a dataanalyst at age of {}".format(age))

Sanju is a dataanalyst at age of 30

* By using `fstring`

In [94]:
age = 30

print(f"Sanju is a dataanalyst at age of {age}")

Sanju is a dataanalyst at age of 30

### Escape Characters

* Escape characters are the special characters, they are used for different purpose:

>(\') 	Single quote

> \\	Backslash	

> \n	New Line	

> \t	Tab	

> \b	Backspace

* We have be very carefuly while using the quotes, because we can use the sames quotes inside the print function it will provide the error

In [99]:
## \' Single quote 

## print('Sanju is an analyst's son') ## This is not the right way

print('Sanju is an analyst\'s son')  ## this is the right way
print("Sanju is an analyst's son")   ## this is also the right way

Sanju is an analyst's son
Sanju is an analyst's son

In [100]:
## \\ Backslash - This will insert one slash 

print("Sanju\\is an analyst")

Sanju\is an analyst

In [101]:
## \n New line - This will create a new line.

print("Sanju is an\n analyst")

Sanju is an
 analyst

In [111]:
## \t tab - it provides space between the elements in the string

print("Sanju is\tan analyst")

Sanju is	an analyst

In [114]:
## \b backspace - it acts as a backspace.

print("Sanju is an analysts\b")

Sanju is an analysts

### String Methods

> `capitalize()`    

> `casefold()`	    

> `center()`	    

> `count()`	

> `encode()`	

> `endswith()`

> `expandtabs()`	

> `find()`	

> `format()`	

> `format_map()`	

> `index()`	

> `isalnum()`	

> `isalpha()`	

> `isdecimal()`	

> `isdigit()`	

> `isidentifier()`	

> `islower()`	

> `isnumeric()`	

> `isprintable()`	

> `isspace()`

> `istitle()`	

> `isupper()`	

> `join()`	

> `ljust()`	

> `lower()`	

> `lstrip()`	

> `maketrans()`	

> `partition()`	

> `replace()`	

> `rfind()`	

> `rindex()`	

> `rjust()`	

> `rpartition()`	

> `rsplit()`	

> `rstrip()`	

> `split()`	

> `splitlines()`	

> `startswith()`	

> `strip()`	

> `swapcase()`	

> `title()`	

> `translate()`	

> `upper()`	

> `zfill()`

In [126]:
A = "Data Science is Fast growing technology"

In [122]:
A.capitalize() # Converts only the first character in upper case

'Data science is fast growing technology'

In [123]:
A.casefold() # Converts entire character in lower case

'data science is fast growing technology'

In [141]:
b = "Baby" 

bc = b.center(20) # it returns a center string

bc

'        Baby        '

In [145]:
A.count("Data Science") # Return the number of times the value "Data Science" appears in the string:

1

In [148]:
A.endswith("y") # Returns true if the strings end with the specified value

True

In [155]:
cd = "Sanju is a data\tanalyst\tbut he is a theif\trobber many places"

In [156]:
cd.expandtabs(tabsize=1) # Sets the tab size of the string

'Sanju is a data analyst but he is a theif robber many places'

In [160]:
cd.find("theif") # It searches and returns the postion of the specified value in the string

36

In [172]:
A.index("growing") # It searches and returns the postion of the specified value in the string

21

In [173]:
A.isalnum() # Returns True if all characters in the string are alphanumeric

False

In [177]:
C = "Monkey" # Return true if all the characters are alphabetic or else returns False.

C.isalpha()

False

In [181]:
A.upper() # Returns all the character in the upper string

'DATA SCIENCE IS FAST GROWING TECHNOLOGY'

In [183]:
A.title() # Returns all the first letter in the string upper case

'Data Science Is Fast Growing Technology'

In [184]:
A.swapcase() # In this it returns upper case as lower case and lower case as upper case

'dATA sCIENCE IS fAST GROWING TECHNOLOGY'

In [185]:
A.islower() # Returns True if the string is lower case

False

In [197]:
A.isnumeric() # returns True if the string has only numberical values

False

In [201]:
A.istitle() # Returns True if the string follows the rules of a title

False

# 1.4 Control Statements in Python:

Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

* If statement   - It is a conditional statement where it checks the conditions.
* Else statement - It is a optional statement when the if condition is not satisified then else will be executed. Only once the                    else statement can be is used.
* Elif statement - It is also an optional statement when the if condition is not satisfied then elif will be executed, the only                    difference between efif and else is, elif can be repeated but only one else can be excuted.

### If and Else Statement: It executes the block of code based on the condition is True or False

In [204]:
age = 18

if age >=18:
    print("You are eligible to vote")
else:
    print('No you are not eligible to vote')

You are eligible to vote

### If Elif and Else Statement: It execute the block of more than 2 conditions

In [207]:
Course_price = int(input("Please enter the price: "))

if Course_price >2000:
    print(f"You can avail the python advance course at {Course_price*0.8}")
elif Course_price == 2500:
    print(f'You can avail the python basic course at {Course_price*0.9}')
else:
    print(f'Still you need {2000 - Course_price} Rupees to join this course')

Please enter the price: 5000
You can avail the python advance course at 4000.0

### Nested If statement : This statement is used when we want to find a condition inside a condition.

In [211]:
Course_price = int(input("Please enter the price: "))

if Course_price >2000:
    if Course_price == 3939:
        print("Congradualtion you have won the Goa trip ticket for free")
    print(f'You can avail the python advance course at {Course_price*0.8}')
elif Course_price >=1500 and Course_price<=2000:
    if Course_price == 1999:
              print("Congragulation you have got the Python\'s\' basic offer")
    print(f'You can avail the python intermediate course at {Course_price*0.7}')
elif Course_price >=1000 and Course_price<1500:
    print(f"You can avail the python basic course at {Course_price*0.9}")
else:
    print(f'Still you need {999 - Course_price} to join this course')

Please enter the price: 2001
You can avail the python advance course at 1600.8000000000002

### Single Statement Suite

### Short Hand if: If we have only one statement to execute then we can put it in a same line

In [212]:
a = 10
b = 5

if a >b: print("a is greater than b")

a is greater than b

## Python Loops

* Looping means that repeating over and over until the condition is satisfied. Loop in control flow statement will continously execute the group of statement as long as the condition is satisfied.

> There are two types of loops:
>   1. While loop 
>   2. For loop

1. While loop is used when we want to execute the set of statements as long as the conditions is true
2. While loop performs indefinite iteration and also it check the condition before running
3. If the condition evaluates to true the loop will run the code within the loop.
4. Then again the condition is evaluated, so this continues untill the condition is False.
5. When the condition evaluated to False while loop stops.

In [226]:
i = 0

while i <10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

### The break Statement : With the `break` statement we can stop the loop even if the while condition is true

In [231]:
i = 0

while i <8:
    print(i)
    if i == 4:
        break
    i+=1

0
1
2
3
4

### The Continue Statement: With the `continue` statement we can stop the current itteration and continue the next

In [232]:
i = 0

while i < 8:
    i+=1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8

### Else Statement : With the else statement we can run a block of code once when the condition no longer is true

In [235]:
i = 1

while i < 7:
    i+=1
    print(i)
else:
    print('No {} is not greater than 7'.format(i))

2
3
4
5
6
7
No 7 is not greater than 7

### For Loops

* For loop is used to iterate over the sequence datatype[List,sets,tuples,strings,dictionary]
* With the for loop we can execute set of statements once for a each item in a list, sets, tuple

In [239]:
fruits = ["apple", "Banana", 'Grapes']

for i in fruits:
    print(i)

apple
Banana
Grapes

* Even strings are iterable objects, they contain a sequence of characters:

In [241]:
Name = "Sanju"

for i in Name:
    print(i,end="")

Sanju

### The range() Function : this function returns a sequence of number, starting from 0 by default to incrementing to a specified number

In [256]:
for x in range(10,20,2):
    print(x)

10
12
14
16
18

### Else in For Loop: They else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [258]:
lst = ["sanju","nandhu","Betty","Mommy"]

for i in lst:
    print(i)
else:
    print("okay")

sanju
nandhu
Betty
Mommy
okay

In [263]:
# Using for loop with if condition


cars = ['Audi', 'BMW', 'Aston Martin', 'Rolls Royce']

for i in cars:
    print(i)
    if i == "BMW":
        print("BWM is a costliest car among all")

Audi
BMW
BWM is a costliest car among all
Aston Martin
Rolls Royce

In [264]:
# Nested loop

for i in range(9):
    print(" "*(9-i),end="")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

# 1.5 Python lists

A list is a collection of items in a ordered sequence, which can be of different data types (integer, string, float, etc.). Lists are
defined using square brackets [] and items are separated by commas , .

* `min` is a built-in function in Python that returns the minimum value from a list or any iterable.

* `max` is a built-in function in Python that returns the maximum value from a list or any iterable.

* `sort` is a method in Python that can be used to sort a list in ascending or descending order. By default, the sort method
sorts the list in ascending order.

* `reverse` is a method in Python that can be used to reverse the order of elements in a list.
descending reverse: To sort a list in descending order, the sort method can be used with the argument reverse=True .

* `append` is a method in Python that can be used to add an element to the end of a list.

* `extend` is a method in Python that can be used to add elements from one list to another.

### Initializing a list

In [1]:
numbers = [3, 4, 1, 8, 5]

In [2]:
# Using the min function
min_value = min(numbers)
print("Min Value:", min_value)

# Using the max function
max_value = max(numbers)
print("Max Value:", max_value)

# Using the sort method
numbers.sort()
print("Sorted List:", numbers)

# Using the reverse method
numbers.reverse()
print("Reversed List:", numbers)

# Using the sort method with reverse argument
numbers.sort(reverse=True)
print("Sorted List in Descending Order:", numbers)

# Using the append method
numbers.append(9)
print("List after appending 9:", numbers)

# Using the extend method
new_numbers = [10, 11, 12]
numbers.extend(new_numbers)
print("List after extending with new numbers:", numbers)

Min Value: 1
Max Value: 8
Sorted List: [1, 3, 4, 5, 8]
Reversed List: [8, 5, 4, 3, 1]
Sorted List in Descending Order: [8, 5, 4, 3, 1]
List after appending 9: [8, 5, 4, 3, 1, 9]
List after extending with new numbers: [8, 5, 4, 3, 1, 9, 10, 11, 12]

### List Comprehensions:

#### List comprehensions are a concise way to create new lists by transforming existing ones. They are written as a single line ofcode and can include an optional condition.

In [36]:

# Using List Comprehensions
numbers=[8, 5, 4, 3, 1, 9, 10, 11, 12]

squared_numbers = [x**2 for x in numbers]

print("Squared Numbers:", squared_numbers)

Squared Numbers: [64, 25, 16, 9, 1, 81, 100, 121, 144]

# 1.6 Python Tuples

A tuple is a collection which is ordered and unchangeable.


Tuples are written with round brackets and allows duplicate values.


As tuples are unchangeable also they are immutable.

### Functions Of Tuples:

1. `Index` :  Returns the index position of the specified value


2. `Count` :  Returns the number of occurance of the specified value

    
3. `len`   :  Returns the length of the tuple 

    
4. `max`   :  Returns the largest item in the tuple

    
5. `min`   :   Returns the smallest item in the tuple

In [10]:
## Examples:

# Creating a tuple:
    
A = (10,11,12,13,14,15)

# Index Function:

print("The index of 14 in the tuple is :", A.index(14))

# Output:The index of 14 in the tuple is : 4

# Count Function:

print("The count of 13 in the tuple is:", A.count(13))

# Output: The count of 13 in tuple is 1

# len Function:

print("The length of the tuple: ", len(A))

# Output: The length of the tuple is 6

# Max Function:

print("The Highest number in the tuple:", max(A))

# Output: The highest number in the tuple is 15

# Min Function:

print("The Smallest number in the tuple:", min(A))

# Output : The Smallest number in the tuple is 10

# Updating or change Tuple values:

# We cannot change or modify the tuple because tuples are immutable and unachangeable. 
# But we convert tuple into list and change the items and convert back to tuples.

A = (10,11,12,13,14,15)

B = list(A)

B[5] = 14

A = tuple(B)

print("The new tuple of A is:", A)

# Output : The new tuple of A is : (10,11,12,13,14,14)

# Concatinating the tuples:

A = (10,11,12,13,14,15)

B = (16,17,18)

C= A+B

print("The Concatenating tuples :", C)

# Output: The Concatenating tuples : (10, 11, 12, 13, 14, 15, 16, 17, 18)

The index of 14 in the tuple is : 4
The count of 13 in the tuple is: 1
The length of the tuple:  6
The Highest number in the tuple: 15
The Smallest number in the tuple: 10
The new tuple of A is: (10, 11, 12, 13, 14, 14)
The Concatenating tuples : (10, 11, 12, 13, 14, 15, 16, 17, 18)

### Updating Tuples:

* Tuples are unchangeable, it means that once they are created they cannot be changed or added or modify the items.


* You can convert the tuple into a list, change the list, and convert the list back into a tuple.


* In tuples we can't add the items to the respective tuple, but we can concatenate two different tuples to single tuple.

### Remove Items:

* Tuples are unchangeable, so you cannot remove items


* `del` Keyword in python can delete the entire tuple completely.

In [ ]:
## Example:

A = (1,2,4,5,6)

print('The Tuple of A:', A)

# Output: The Tuple of of A is (1,2,4,5,6)

# Delete the tuple

del A

print(A) #this will raise an error because the tuple no longer exists

# 1.7 Python Sets

* A set is an unordered, unchangeable and unindexed.

* It does not allows duplicate values

Note: Set items are unchangeable, but you can remove items and add new items.

### Functions of Sets:

1. `add` - It adds a element to the set.

2. `clear`- It eliminates the entire set.

3. `pop` - Remove and return an arbitrary set element.

4. `remove` - Removes the specified item when we pass the argument

In [13]:
# Examples:

# Creating a set

A = {1,2,3,4}

print("The set is:", A)

# Output: The set is {1,2,3,4}

# Add Function:

print("Adding the new element to the set:", A.add(5))

# Output: Adding the new element to the set {1,2,3,4,5}

# Clear function:

print("Clear the entire set:", A.clear())

# Output: Clear the entire set: set()

# Pop Function: 

A = {"Apple","Banana","Cherry"}

print("set is performing the pop function:", A.pop())

# Output: Set is performing the pop function: {"Banana","Cherry"}

# Remove Function:

A = {"Apple","Banana","Cherry"}

print("Set after removing the specified item:", A.remove("Cherry"))

# Output: Set after removing the specified item: {"Apple","Banana"}

### Concatinating sets:

* We cannot concatenate the two sets by using a `+` operator, it provides us an error. We can join the sets by using some in-built functions.

* We all know set is unchangeable once it is created, but we can add or remove the items of the set.

* We can add tuple element in the set

In [ ]:
## Example:

A = {"Apple","Banana","Cherry"}

A.add(("Orange","Blueberry"))

print("adding tuple to the set:", A)

# Output : adding tuple to the set: {'Cherry', 'Banana', ('Orange', 'Blueberry'), 'Apple'}

# 1.8 Python Dictionary

Dictionary is a ordered and changeable and does not allow duplicate values, they are writen in the curly brackets.

Dictionary has key associated with value items,and can be referred to by using the key name. 

As it is changeable we can add or remove or modify the items after dictionary is created.The values in dictionary items can be of any data type.

It is possible that we can use `dict()` constructor to create a dictionary.

### Keys in Dictionary

* Key can't be repeated, it takes the unique value 

* Key can be a string, integer, boolean values,Floating point and complex numbers

* Based on the collections only tuples can be stored in the Key section of dictionaries. lists, sets and dictionaries can't be stored in dictionaries.

In [ ]:
## Examples:

# 1. Creating a dictionary

A1 = {"Name":"Sanju","Age":24,"Job":"Dataanalyst"}

print("The dictionary is created for A1: ", A1)

# Output - The dictionary is created for A1:  {'Name': 'Sanju', 'Age': 24, 'Job': 'Dataanalyst'}


# 2. Keys can't be repeated, it takes the unique value and overwrites on the existing value. exisiting value will be disappeared.

A1 = {"Name":"Sanju","Age":24,"Job":"Dataanalyst","Name":"Prakash"}

print(A1)

# Output - {'Name': 'Prakash', 'Age': 24, 'Job': 'Dataanalyst'}


# 3. Adding new keys:

B1 = {"Cars":["BMW","Astron Martin","RolsRoyce"],"Fueltype":{"petrol","diesel","electric"},"Cost":(1200000,1400000,1800000)}

B1["Speed"] = [200,150,100]

print("printing the updated B1: ", B1)

# Output - printing the added new B1: {'Cars': ['BMW', 'Astron Martin', 'RolsRoyce'], 'Fueltype': {'electric', 'diesel', 'petrol'}, 'Cost': (1200000, 1400000, 1800000), 'Speed': [200, 150, 100]}

### Functions of Dictionary:

1. `clear()`	           Removes all the elements from the dictionary



2.  `copy()`	           Returns a copy of the dictionary



3.  `fromkeys()`           Returns a dictionary with the specified keys and value



4.  `get()`	               Returns the value of the specified key



5.  `items()`	           Returns a list containing a tuple for each key value pair



6.  `keys()`	           Returns a list containing the dictionary's keys



7.  `pop()`	               Removes the element with the specified key



8.  `popitem()`	           Removes the last inserted key-value pair



9.  `setdefault()`         Returns the value of the specified key. If the key does not exist: insert the key, with the specified                            value



10. `update()`	           Updates the dictionary with the specified key-value pairs



11. `values()`	           Returns a list of all the values in the dictionary

In [ ]:
## Example:

# 1. Clear()

B1 = {'Cars': ['BMW', 'Astron Martin', 'RolsRoyce'],
 'Fueltype': {'diesel', 'electric', 'petrol'},
 'Cost': (1200000, 1400000, 1800000),
 'Speed': [200, 150, 100]}

print("Using the clear function in B1:", B1.clear())

# Output - Using the clear function in B1: {}

# 2. len()

B1 = {'Cars': ['BMW', 'Astron Martin', 'RolsRoyce'],
 'Fueltype': {'diesel', 'electric', 'petrol'},
 'Cost': (1200000, 1400000, 1800000),
 'Speed': [200, 150, 100]}

print('length of the B1:',len(B1))

# output- length of the B1: 4

# 3. Keys()

B1 = {'Cars': ['BMW', 'Astron Martin', 'RolsRoyce'],
 'Fueltype': {'diesel', 'electric', 'petrol'},
 'Cost': (1200000, 1400000, 1800000),
 'Speed': [200, 150, 100]}

print("Key of the B1:",B1.keys())

# Output - Key of the B1: dict_keys(['Cars', 'Fueltype', 'Cost', 'Speed'])

# 4. Values()

B1 = {'Cars': ['BMW', 'Astron Martin', 'RolsRoyce'],
 'Fueltype': {'diesel', 'electric', 'petrol'},
 'Cost': (1200000, 1400000, 1800000),
 'Speed': [200, 150, 100]}

print("Values of B1:",B1.values())

# Output - Values of B1:dict_values([['BMW', 'Astron Martin', 'RolsRoyce'], {'electric', 'diesel', 'petrol'}, (1200000, 1400000, 1800000), [200, 150, 100]])

# 5. Items() 

B1 = {'Cars': ['BMW', 'Astron Martin', 'RolsRoyce'],
 'Fueltype': {'diesel', 'electric', 'petrol'},
 'Cost': (1200000, 1400000, 1800000),
 'Speed': [200, 150, 100]}

print("items of B1:", B1.items())

# Output - items of B1: dict_items([('Cars', ['BMW', 'Astron Martin', 'RolsRoyce']), ('Fueltype', {'electric', 'diesel', 'petrol'}), ('Cost', (1200000, 1400000, 1800000)), ('Speed', [200, 150, 100])])

# 6. Copy ()

B2 ={"Name":["Sanju","Nandhu"],
    "Age":(24,21),
    "Qualification":["MBA","CA"]}

B3 = B2.copy()

print("B3 contains B2 keys and values:", B3) # this is called as deep copy, when we use the in build function to copy. 

# output - B3 contains B2 keys and values: {'Name': ['Sanju', 'Nandhu'], 'Age': (24, 21), 'Qualification': ['MBA', 'CA']}

# Or

B4 = {"Name":["Sanju","Nandhu"],
    "Age":(24,21),
    "Qualification":["MBA","CA"],
     "Rank":[1,2]}

B5 = B4 # this is called as shallow copy, it discturbs the existing variable when edit the changes in new variable.

del B4["Rank"]

print(B5)

# Output - {'Name': ['Sanju', 'Nandhu'], 'Age': (24, 21), 'Qualification': ['MBA', 'CA']}

### Dictionary Comprehension:

Dictionary comprehension is a method for transforming one dictionary into another dictionary

In [ ]:
## Examples:
    
{i: i**2 for i in range(1,10)}

## Output - {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

import math

{i: math.log10(i) for i in range(1,11)}

## Output - {1: 0.0, 2: 0.3010299956639812, 3: 0.47712125471966244, 4: 0.6020599913279624, 5: 0.6989700043360189, 6: 0.7781512503836436, 7: 0.8450980400142568, 8: 0.9030899869919435,9: 0.9542425094393249,10: 1.0}

 # 1.9 Functions:

* Function is a block of code which runs only when function is called, we can pass a data known as parameters into function and function can return the data as result.

* They are defined using the `def` keyword, followed by the function name, parameters within the paranthisis and colon.

* Function can return the values by using `return` keyword, return function will return the original format with same datatype, while in print function it will return the none type.

* Function is able to return a multiple returns from the one single function with multiple datatypes at a time. 

*  Function will always return the values in tuples.

### Arguments:

* Arguments are passing a data when the function is called.
* Arguments are specified after the function name, inside the parantheses, we are able to add as many arguments it should seperated by comma.

In [ ]:
# Creating a function:

def test1():
    print("This is my new function")

# output: test1() - This is my new function - nonetype  


def test2():
    return "This is my new function" 

# output: test2() - 'This is my new function' - original type.


def test3():
    return 1,5,"sanju",99.45

# Output: test3() - (1, 5, 'sanju', 99.45)

def test5(a,b):
    c = a*b
    return c

# Output: test5(1,5) - 5 

def test6(a,b,c):
    d = a+b*c
    return d

# output - test6(1,5,6) - 31

def test7(b = "Sanju", a = "Nandhu"):
    c = a+b
    return c

# Output - test7() - 'NandhuSanju'

In [52]:
## Example 

# 1. Create a function which will take only the list as an input and give me only the string as final list.

l = ['Python',99.54,"Datascience",75,34,45.33,["Machine learning","Deep learning"]]

def test8(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j)==str:
                    n.append(j)
        else :
            if type(i)==str:
                n.append(i)
    return n

In [53]:
test8(l)

['Python', 'Datascience', 'Machine learning', 'Deep learning']

In [38]:
## Example

# 2. Create a function which will take a dictionary as an input and give me only the integer as the final list.

l = ['Python',99.54,"Datascience",75,34,45.33,["Machine learning","Deep learning"]]

def func1(a):
    n= []
    for i in a:
        if type(i)== int:
            n.append(i)
    return n

In [39]:
func1(l)

[75, 34]

## *ARGS

* Args is a non -keyword argument, it allows to pass 'n' number of arguments when the function us called.
* This function will return a tuple of arguments froom which we can access the items.

#### Examples:

In [42]:
def fun_name(*args):
    l = []
    for i in args:
        if i >=5:
            l.append(i)
    return l

# Output : fun_name(1,2,3,4,5,6,7,8,9,10)
# [5, 6, 7, 8, 9, 10]

#2 eg

def item(*args,name):
    return args,name

# Output: item([1,2,4,5,6,], name = ["sanju"])

# (([1, 2, 4, 5, 6],), ['sanju'])

### **Kwargs

* Kwargs is also a non- keyword argument, it is used to pass 'n' of argument when the function is called.

* This particularly used to receive a dictionary of arguments, can access the items accordingly.

In [82]:
def iig(**kwargs):
    return kwargs

"""
Output: iig(a = [1,2,3,4,5], b =('python','datascience','oops'), c = {"Fruit":"Orange"})

 {'a': [1, 2, 3, 4, 5],
 'b': ('python', 'datascience', 'oops'),
 'c': {'Fruit': 'Orange'}}
""" 
# Eg 2

def jjp(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == tuple:
            return i, kwargs[i]
"""
jjp(a = [1,2,3,4,5], b =('python','datascience','oops'), c = {"Fruit":"Orange"})

('b', ('python', 'datascience', 'oops'))

"""

# Eg 3:

def jjp(*args,**kwargs):
    return args, kwargs

# Output: jjp([1,2,3,4,5,6,7,8], a= "python", b=("datascience"), c=[222,223,445,666])

# (([1, 2, 3, 4, 5, 6, 7, 8],),
# {'a': 'python', 'b': 'datascience', 'c': [222, 223, 445, 666]})

## Generators

* Python Generators function that returns an iterator that produces a sequence of values when iterated over.
* Generators are usefull when we want to yield large sequence of values, but we don't want them to be stored in one memory location.
* When a `yield` function is used it generally called as generator functions.
* Difference between `yield`and `return` is that when a function is called `yield` will produces multiple values without terminaing the program, `return` it returns a value when function is called and terminated the program.

In [35]:
## Creating Fibonachi series

def test4(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b,a+b

In [36]:
test4(10)

In [37]:
list(test4(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [3]:
for i in test4(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

### Lambda Function:

* Lambda function is called as annonomys function.

Syntax - Lambda arguments : expression

* Lambda function takes any number of arguments but can have only one expression.

In [4]:
def test1(a,b):
    return a**b

In [5]:
test1(4,3)

64

In [14]:
# by using lambda function.

c = lambda a,b : a**b

c(4,3) - 64, c(9,6) 

# Output  - 531441

add = lambda a,b,c : (a*b)-c

add(1,2,3)

# output = -1

c_to_f = lambda c : (9/5)*c+32
 
c_to_f(44) 

# Output - 111.2

max_two = lambda x,y : x if x>y else y

max_two([22,344,55],[22,555,777])

# Output - [22, 555, 777]

### Map, Reduce, Filter function

* Map - It returns a map object which is an iterator with the given function with the given iterables

Syntax - map(fun, iterable)

* Reduce - Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value. It takes only two arguments at a time.

Syntax  - reduce(fun, sequence)

* Filter - It filters the given sequence with the help of function and that function tests each item is true or not.

Syntax - filter(fun or none, iterable)

In [24]:
# map Function

l = [1,2,3,4,5,6]

def test1(a):
    l1 = []
    for i in a:
        l1.append(i**2)
    return l1

print(test1(l))

# Out put - [1, 4, 9, 16, 25, 36]

def sq(x):
    return x**2

print(list(map(sq,l)))

# output - [1, 4, 9, 16, 25, 36]
           
            Or
        
# Map function with Lambda

print(list(map(lambda x : x**2, l)))

# output - [1, 4, 9, 16, 25, 36]

In [39]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

In [40]:
def add(x,y):
    return(x+y)

In [41]:
list(map(add,lst1,lst2))

[7, 9, 11, 13, 15]

In [42]:
list(map(lambda x,y : x+y,lst1,lst2))

[7, 9, 11, 13, 15]

In [43]:
s = "pwskills"

In [44]:
list(map(lambda x : x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [53]:
l =[1,2,3,4,5,6]

In [54]:
from functools import reduce 


reduce(lambda x,y : x+y,l)

21

In [55]:
def add(x,y):
    return x+y

In [56]:
reduce(add,l)

21

In [59]:
l = [1,2,3,4,5,6]

In [64]:
reduce(max,(l))

6

In [65]:
list(filter(lambda x : x%2==0,l))

[2, 4, 6]

In [68]:
list(filter(lambda x : x%2!=0,l))

[1, 3, 5]

In [69]:
l1 = [-2,4,5,6,-3,-6,-7]

In [70]:
list(filter(lambda x: x <0,l1))

[-2, -3, -6, -7]

In [71]:
l2 = ["Sanju","Python","Shusanth","Coimbatore","Krish"]

In [79]:
list(filter(lambda x : len(x) < 9,l2))

['Sanju', 'Python', 'Shusanth', 'Krish']